node_modules/
web/dist/
server/dist/
.DS_Store
.env
.cache/
.venv-paddleocr/
data/*
!data/paddleocr/
data/paddleocr/*
!data/paddleocr/.gitkeep
ragflow/ragflow-logs/
ragflow/*.pid
ragflow/*.log
ragflow/.env*

data/ragflow-api-key
data/ragflow-api-key-user
